<h1>Create a new Portfolio Item</h1>

<%= form_for(@portfolio_item) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parallax Cloud Scroll</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    .sky {
      background: linear-gradient(to top, #a0d8ef, #ffffff);
      height: 100vh;
      overflow: hidden;
      position: relative;
    }

    .cloud {
      position: absolute;
      top: 20%;
      background: url('https://i.ibb.co/CM8cLh6/cloud-plain.png') no-repeat;
      background-size: contain;
      width: 300px;
      height: 150px;
      opacity: 0.8;
      animation: moveCloud 40s linear infinite;
    }

   .cloud {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 150px;
  animation: moveCloud linear infinite;
}

.style1 {
  background-image: url('https://i.ibb.co/CM8cLh6/cloud-plain.png');
  top: 20%;
  left: -200px;
  animation-duration: 40s;
  opacity: 0.8;
}

.style2 {
  background-image: url('https://i.ibb.co/hDTt4Hc/cloud-long.png');
  top: 35%;
  left: -300px;
  animation-duration: 60s;
  opacity: 0.6;
}

.style3 {
  background-image: url('https://www.vecteezy.com/free-png/fluffy');
  left: -250px;
  animation-duration: 80s;
  opacity: 0.5;
}

@keyframes moveCloud {
  0% { transform: translateX(-400px); }
  100% { transform: translateX(110vw); }
}
  </style>
</head>
<body>
  <div class="sky">
    <div class="cloud style1"></div>
    <div class="cloud style2"></div>
    <div class="cloud style3"></div>
  </div>
</body>
</html>

